*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* fonts */
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,600;0,700;0,800;1,600;1,700;1,800&display=swap");

html {
  font-size: 100%;
  /* width: 100%; */
}

:root {
  --bg-color: #e4e4e4;
  --bg-white: #fff;
  --dark-border: #5a5a5a;
  --light-border: rgba(85, 86, 90, 0.12);
  --yellow-bg: rgba(254, 207, 119, 0.74);
  --yellow-text: rgba(64, 42, 0, 0.751);
  --green-bg: #bbef8ac7;
  --green-text: hsla(91, 90%, 15%, 0.842);
  --grey-bg: rgb(213, 212, 212);
  --grey-text: rgba(8, 8, 8, 0.993);

  --higlight-color: #2562be;

  --headingFont: "Nunito", Sans-Serif;
  --bodyFont: "Poppins", Sans-Serif;
  --buttonFont: "Courier New", Courier, monospace;

  --letterSpacing: 1px;
}

body {
  font-family: var(--bodyFont);

  background-color: var(--bg-color);
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

main {
  background-color: var(--bg-white);
  width: 100vw;
  height: 100vh;
  padding-left: 2rem;
  padding-top: 4rem;
}

.tickets-container {
  display: flex;
  gap: 8px;
  margin-bottom: 2rem;
}
.ticket-btn {
  border: none;
  background-color: none;
  background: none;
  border: 1px solid var(--light-border);
  color: var(--grey-text);
  padding: 9px 22px;
  transition: all 0.3s;
  cursor: pointer;
  font-weight: 600;
  font-family: var(--buttonFont);
}
.ticket-btn:hover {
  border-color: var(--higlight-color);
  color: var(--higlight-color);
}

.ticket-btn.active {
  border-color: var(--higlight-color);
  color: var(--higlight-color);
}

.table-container {
  padding-right: 4rem;
}

table {
  border-collapse: collapse;
  width: 100%;
  font-family: var(--bodyFont);
  letter-spacing: 0.5px;
}

th,
td {
  border: 1px solid var(--light-border);
  text-align: left;
  padding: 8px;
  font-size: 32px;
}

th {
  padding: 12px 8px;
  background-color: #dfdede;
  font-weight: 400;
  font-size: 16px;
  color: #292929;
  text-align: center;
}

td {
  background-color: #fcfcfc;
  font-size: 16px;
  text-align: center;
  cursor: pointer;
}

.completed {
  background-color: var(--green-bg);
  color: var(--green-text);
}

.pending,
.in-progress {
  background-color: var(--yellow-bg);
  color: var(--yellow-text);
}

.not-started {
  background-color: var(--grey-bg);
  color: var(--grey-text);
}

.table-value {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 6px;
  padding: 6px 12px;
  border-radius: 2rem;
}

.table-value:hover {
  background-color: #c04c4c;
}
